<form name="form" ACTION="/payment/vmobile-payment/success" METHOD="POST">
    <input TYPE="HIDDEN" NAME="RETURNCODE" VALUE="{{RETURNCODE}}">
    <input TYPE="HIDDEN" NAME="RETURNMSG" VALUE="{{RETURNMSG}}">
    <input TYPE="HIDDEN" NAME="BANKNAME" VALUE="{{BANKNAME}}">
    <input TYPE="HIDDEN" NAME="EXPIREDATE" VALUE="{{EXPIREDATE}}">
    <input TYPE="HIDDEN" NAME="EXPIRETIME" VALUE="{{EXPIRETIME}}">
    <input TYPE="HIDDEN" NAME="VIRTUALACCOUNT" VALUE="{{VIRTUALACCOUNT}}">
    <input TYPE="HIDDEN" NAME="ISCASHRECEIPT" VALUE="{{ISCASHRECEIPT}}">

</form>
<script>
    document.form.submit();
</script>