{{> header}}
<div class="container-fluid">

	<div class="container">
		<!-- Title -->
		<div class="d-flex justify-content-between align-items-center py-3">
			<h2 class="mb-0"><a href="#" class="text-muted"></a> Order #{{id}}</h2>
		</div>

		<!-- Main content -->
		<div class="row">
			<form class="form-horizontal" action="/payment/{{method}}/ready" method="post">
				<div class="col-lg-12">
					<!-- Details -->
					<div class="card mb-4">
						<div class="card-body">
							<div class="mb-3 d-flex justify-content-between">
								<div>
									<span class="me-3">{{{createdAt}}}</span>
									<span class="me-3">#{{id}}</span>
								</div>
							</div>
							<table class="table table-borderless">
								<tbody>
									{{#each purchaseHistoryItems}}
									<tr>
										<td>
											<div class="d-flex mb-2">
												<div class="flex-shrink-0">
													<img src="{{photoURL}}" alt="" width="45" class="img-fluid">
												</div>
												<div class="flex-lg-grow-1 ms-3">
													<h6 class="small mb-0">{{name}}</h6>
												</div>
											</div>
										</td>
										<td></td>
										<td class="text-end">{{price}}</td>
									</tr>
									{{/each}}
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2">Total Price</td>
										<td class="text-end">{{totalValue}}</td>
									</tr>
									{{#if isGift}}
									<tr>
										<td colspan="2">Receiver</td>
										<td class="text-end">{{receiver.nickname}}</td>
									</tr>
									{{/if}}
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<!-- Payment -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<h3>Payment Method</h3>
								<p>{{paymentType}}<br>
									Total: {{totalValue}} <span class="badge bg-success rounded-pill">{{status}}</span>
								</p>
							</div>
							<div class="col-lg-6">
								<h3>User information</h3>
								<address>
									{{user.nickname}}<br>
									{{user.email}}<br>
									<abbr title="Phone"></abbr> {{user.phoneNumber}}
								</address>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="col-lg-12">
			<div class="row m-0">
				<div class="col-12  mb-4 p-0">
					<input type="hidden" name="userId" value="{{userId}}">
					<input type="hidden" name="orderId" value="{{id}}">
					{{#if enablePurchase}}
					<button class="btn btn-primary btnPay">Purchase<span class="fas fa-arrow-right ps-2"></span>
					{{/if}}
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
</div>
</div>
<script>
</script>
{{> footer}}